* {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: aliceblue;
}

html {
    scroll-behavior: smooth;
}


.area-calculators {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 50%;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    background-color: aquamarine;
    border-radius: 1rem;
}
.rectangle {
    width: 50%;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    background-color: aquamarine;
    border-radius: 1rem;
}

.circle {
    width: 50%;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    background-color: aquamarine;
    border-radius: 1rem;
}
p, h1 {
    padding: 1rem;
    text-align: center;
}
h1{
    text-decoration: underline;
}

